*{
  margin:0;
  padding:0
}
html,body{
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
  background:#06073a;
}
img{
  display:block;
}
.view-alert{
  display: none;
  background:rgba(0,0,0,0.9);
  color:#FFFFFF;
  padding:20px;
  font-size:14px;
  overflow: hidden;
  position:fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}
.alert-content{
  width:90%;
  float:left;
  padding-left:3%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.arrow{
  float:right;
  width:25px;
  margin-top:-13px;
}
.container{
  overflow-y: auto;
}
.container img.bj{
  width:100%;
  height:auto;
  position: absolute;
  top:0;
  left:0;
}
.content{
  position: absolute;
  z-index:10;
  width: 100%;;
  background: url("../img/bj.jpg") no-repeat;
  background-size: 100%;
}
.downBtn{
  display:block;
  margin:15px auto;
  width:48%;
  height: 32px;
  background-color: #247dee;
  border-radius: 50px;
  text-align: center;
}
.downBtn span{
  line-height: 32px;
  color: white;
}
.logo{
  width:35%;
  margin:19% auto 14%;
}
.textBor{
  width:80%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding:20px 20px 25px;
  margin: 26px auto 24px;
  background: url("../img/bor.png") no-repeat;
  background-size:100% 100%;
}
.textBor h4{
  color:#10f8fb;
  margin-top:10px;
  text-align: center;;
}
.textBor .bar{
  width:25px;
  height:2px;
  background:#10f8fb;
  display:block;
  margin:16px auto;
}
.textBor .text{
  line-height:22px;
  font-size:14px;
  color:#fff;
  text-align: justify;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal, .modal-backdrop {
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  padding: 20px;
  box-sizing: border-box;
}
.modal-body {
  position: relative;
  padding: 20px;
  background:#f2f2f2;
  max-height: 58vh;
  /*max-height: 60%;*/
  overflow-y: scroll;
}
.modal-body p, .modal-body li{
  font-size:13px;
}
.font-16{
  font-size:16px;
  font-weight:normal;
}
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  outline: 0;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
  font-size:16px;
  font-weight: normal;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.43px;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}
.close {
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
  float: right;
  font-weight: 700;
}
.modal-footer {
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.img-responsive{
  margin:20px auto;
  width:80%;
}
.btn-u {
  background: #95a5a6;
  border: 1px solid #95a5a6;
  color: #fff;
  cursor: pointer;
  padding: 6px 20px;
  /*position: relative;*/
  text-decoration: none;
  border-radius: 3px;
}
.pcEr{
}
.pcEr p:nth-child(1){
  width: 30%;
  margin: 0 auto;
}
.pcEr p:nth-child(1) img{
  width: 100%;
  height: auto;
}
.pcEr p:nth-child(2){
  text-align: center;
  color: #FAFBFE;
  font-size:14px;
  margin-top: 10px;
}
