@keyframes background-scrolling {
    100% {
        background-position: 96px 96px;
    }
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #e53935;
    background-image: linear-gradient(45deg, #ef5350 25%, transparent 25%, transparent 75%, #ef5350 75%), linear-gradient(-45deg, #ef5350 25%, transparent 25%, transparent 75%, #ef5350 75%);
    background-size: 96px 96px;
    background-attachment: fixed;
    animation: background-scrolling 4s infinite linear;
}
#wrapper {
    background-color: transparent;
}
@font-face {
    font-family: jelly-pixel-12-proportional-zh_cn;
    src: url("https://jelly-pixel-font.takwolf.com/jelly-pixel-12px-proportional-zh_cn.otf.woff2");
}
.view_game_page {
    font-family: jelly-pixel-12-proportional-zh_cn, sans-serif;
}
#view_game_footer {
    font-family: jelly-pixel-12-proportional-zh_cn, sans-serif;
}
