@keyframes background-scrolling {
    100% {
        background-position: 96px 96px;
    }
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: darkorange;
    background-image: linear-gradient(45deg, orange 25%, transparent 25%, transparent 75%, orange 75%), linear-gradient(-45deg, orange 25%, transparent 25%, transparent 75%, orange 75%);
    background-size: 96px 96px;
    background-attachment: fixed;
    animation: background-scrolling 4s infinite linear;
}
#wrapper {
    background-color: transparent;
}
@font-face {
    font-family: fusion-pixel-12-proportional-zh_hans;
    src: url("https://fusion-pixel-font.takwolf.com/fusion-pixel-12px-proportional-zh_hans.otf.woff2");
}
.view_game_page {
    font-family: fusion-pixel-12-proportional-zh_hans, sans-serif;
}
#view_game_footer {
    font-family: fusion-pixel-12-proportional-zh_hans, sans-serif;
}
